In [17]:
import pandas as pd

data_path = "../stock_data"
df1 = pd.read_excel(f"{data_path}/HAX.xlsx", sheet_name='bctc')
df1.dropna(axis=1, how="all", inplace=True)
new_column_names = [
    "Mục",
    "Q3 2022",
    "Q4 2022",
    "Q1 2023",
    "Q2 2023",
    "Q3 2023",
]
df1.columns = new_column_names
df1

,Mục,Q3 2022,Q4 2022,Q1 2023,Q2 2023,Q3 2023
0,Tổng doanh thu hoạt động kinh doanh,"1,970.49","1,597.77",992.68,797.17,"1,115.26"
1,Các khoản giảm trừ doanh thu,0.00,0.00,0.00,0.00,0.00
2,Doanh thu thuần,"1,970.49","1,597.77",992.68,797.17,"1,115.26"
3,Giá vốn hàng bán,"1,853.89","1,481.01",915.98,740.74,"1,050.60"
4,Lợi nhuận gộp,116.61,116.76,76.71,56.43,64.66
5,Doanh thu hoạt động tài chính,7.85,3.73,0.06,0.01,0.46
6,Chi phí tài chính,5.98,18.49,17.81,9.21,5.63
7,Trong đó: Chi phí lãi vay,5.94,18.45,17.74,9.21,5.63
8,Lợi nhuận hoặc lỗ trong công ty liên kết,0.00,0.00,0.00,0.00,0.00
9,Chi phí bán hàng,37.07,40.45,36.93,37.12,27.67
10,Chi phí quản lý doanh nghiệp,18.73,15.93,21.77,14.57,28.82
11,Lợi nhuận thuần từ hoạt động kinh doanh,62.68,45.62,0.24,-4.47,3.00
12,Thu nhập khác,9.41,13.12,5.53,9.01,7.50
13,Chi phí khác,0.00,0.02,0.15,0.03,0.46
14,Lợi nhuận khác,9.40,13.10,5.38,8.98,7.05
15,Tổng lợi nhuận kế toán trước thuế,72.08,58.72,5.62,4.51,10.05
16,Chi phí thuế TNDN,14.50,11.47,2.12,1.77,1.72
17,Chi phí thuế TNDN hiện hành,14.89,14.20,2.15,1.95,1.72
18,Chi phí thuế TNDN hoãn lại,-0.39,-2.73,-0.04,-0.17,-0.01
19,Lợi nhuận sau thuế thu nhập doanh nghiệp,57.58,47.25,3.50,2.74,8.34
20,Lợi ích của cổ đông thiểu số,0.12,0.19,0.03,1.04,0.76
21,Lợi nhuận sau thuế của Công ty mẹ,57.46,47.06,3.48,1.70,7.58
22,Lãi cơ bản trên cổ phiếu,0.00,0.00,0.00,0.00,0.00
23,Lãi suy giảm trên cổ phiếu,0.00,0.00,0.00,0.00,0.00

In [20]:
df2 = pd.read_excel(f"{data_path}/HAX.xlsx", sheet_name="cdkt")
df2.dropna(axis=1, how="all", inplace=True)
new_column_names = [
    "Mục",
    "Q3 2022",
    "Q4 2022",
    "Q1 2023",
    "Q2 2023",
    "Q3 2023",
]
df2.columns = new_column_names
df2

,Mục,Q3 2022,Q4 2022,Q1 2023,Q2 2023,Q3 2023
0,Tiền và các khoản tương đương tiền,150.83,160.49,83.98,65.46,53.39
1,Tiền,150.83,160.49,83.98,49.86,53.39
2,Các khoản tương đương tiền,0.00,0.00,0.00,15.60,0.00
3,Các khoản đầu tư tài chính ngắn hạn,207.00,0.00,0.00,0.00,0.00
4,Đầu tư ngắn hạn,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...
103,Nguồn vốn đầu tư XDCB,0.00,0.00,0.00,0.00,0.00
104,Nguồn kinh phí và quỹ khác,0.00,0.00,0.00,0.00,0.00
105,Vốn ngân sách nhà nước,0.00,0.00,0.00,0.00,0.00
106,Nguồn kinh phí đã hình thành TSCĐ,0.00,0.00,0.00,0.00,0.00
107,TỔNG CỘNG NGUỒN VỐN,"1,990.96","2,578.25","2,140.21","1,615.64","1,840.27"